Pithline.FMS.TechnicalInspection.UILogic/Service References/TIService/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="reqReplyEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_MzkTechnicalInspection_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="reqReplyEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#reqReplyEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MzkTechnicalInspection" type="i1:MzkTechnicalInspection">
    <wsp:PolicyReference URI="#BasicHttpBinding_MzkTechnicalInspection_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/validateUser" style="document" />
      <wsdl:input name="MzkTechnicalInspectionValidateUserRequest">
        <soap:header message="i1:MzkTechnicalInspectionValidateUserRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionValidateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStatusList">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/updateStatusList" style="document" />
      <wsdl:input name="MzkTechnicalInspectionUpdateStatusListRequest">
        <soap:header message="i1:MzkTechnicalInspectionUpdateStatusListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionUpdateStatusListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/getTasks" style="document" />
      <wsdl:input name="MzkTechnicalInspectionGetTasksRequest">
        <soap:header message="i1:MzkTechnicalInspectionGetTasksRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionGetTasksResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/getUserDetails" style="document" />
      <wsdl:input name="MzkTechnicalInspectionGetUserDetailsRequest">
        <soap:header message="i1:MzkTechnicalInspectionGetUserDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionGetUserDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveImage">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/saveImage" style="document" />
      <wsdl:input name="MzkTechnicalInspectionSaveImageRequest">
        <soap:header message="i1:MzkTechnicalInspectionSaveImageRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionSaveImageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertTechnicalInspection">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/insertTechnicalInspection" style="document" />
      <wsdl:input name="MzkTechnicalInspectionInsertTechnicalInspectionRequest">
        <soap:header message="i1:MzkTechnicalInspectionInsertTechnicalInspectionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionInsertTechnicalInspectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubComponents">
      <soap:operation soapAction="http://tempuri.org/MzkTechnicalInspection/getSubComponents" style="document" />
      <wsdl:input name="MzkTechnicalInspectionGetSubComponentsRequest">
        <soap:header message="i1:MzkTechnicalInspectionGetSubComponentsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkTechnicalInspectionGetSubComponentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="reqReplyEndpoint" binding="tns:reqReplyEndpoint">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MzkTechnicalInspection" binding="tns:BasicHttpBinding_MzkTechnicalInspection">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>