Pithline.FMS.DataProvider.AX/Service References/SSProxy/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="reqReplyEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_MzkServiceSchedulingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="reqReplyEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#reqReplyEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MzkServiceSchedulingService" type="i1:MzkServiceSchedulingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_MzkServiceSchedulingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServiceDetails">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getServiceDetails" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetServiceDetailsRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetServiceDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetServiceDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSuburbList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getSuburbList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetSuburbListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetSuburbListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetSuburbListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStatusList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/updateStatusList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceUpdateStatusListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceUpdateStatusListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceUpdateStatusListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceTypes">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getServiceTypes" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetServiceTypesRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetServiceTypesRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetServiceTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCityList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getCityList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetCityListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetCityListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetCityListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getRegions" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetRegionsRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetRegionsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetRegionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerAddress">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getCustomerAddress" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetCustomerAddressRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetCustomerAddressRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetCustomerAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getZipcodeList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getZipcodeList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetZipcodeListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetZipcodeListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetZipcodeListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertVendDet">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/insertVendDet" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceInsertVendDetRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceInsertVendDetRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceInsertVendDetResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLocationType">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getLocationType" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetLocationTypeRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetLocationTypeRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetLocationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProvinceList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getProvinceList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetProvinceListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetProvinceListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetProvinceListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getTasks" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetTasksRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetTasksRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetTasksResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVendorBySelection">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getVendorBySelection" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetVendorBySelectionRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetVendorBySelectionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetVendorBySelectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDrivers">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getDrivers" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetDriversRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetDriversRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetDriversResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertServiceDetails">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/insertServiceDetails" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceInsertServiceDetailsRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceInsertServiceDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceInsertServiceDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryRegionList">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getCountryRegionList" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetCountryRegionListRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetCountryRegionListRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetCountryRegionListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveImage">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/saveImage" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceSaveImageRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceSaveImageRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceSaveImageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertSerDet">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/insertSerDet" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceInsertSerDetRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceInsertSerDetRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceInsertSerDetResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getODOReadingDetails">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getODOReadingDetails" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetODOReadingDetailsRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetODOReadingDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetODOReadingDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/validateUser" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceValidateUserRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceValidateUserRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceValidateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVendorByName">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getVendorByName" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetVendorByNameRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetVendorByNameRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetVendorByNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDriverAddress">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getDriverAddress" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetDriverAddressRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetDriverAddressRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetDriverAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getCustomers" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetCustomersRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetCustomersRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetCustomersResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVendorsByClass">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getVendorsByClass" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetVendorsByClassRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetVendorsByClassRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetVendorsByClassResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVendSupplirerName">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getVendSupplirerName" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetVendSupplirerNameRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetVendSupplirerNameRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetVendSupplirerNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateConfirmationDates">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/updateConfirmationDates" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceUpdateConfirmationDatesRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceUpdateConfirmationDatesRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceUpdateConfirmationDatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getUserDetails" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetUserDetailsRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetUserDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetUserDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVendorAddress">
      <soap:operation soapAction="http://tempuri.org/MzkServiceSchedulingService/getVendorAddress" style="document" />
      <wsdl:input name="MzkServiceSchedulingServiceGetVendorAddressRequest">
        <soap:header message="i1:MzkServiceSchedulingServiceGetVendorAddressRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkServiceSchedulingServiceGetVendorAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="reqReplyEndpoint" binding="tns:reqReplyEndpoint">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MzkServiceSchedulingService" binding="tns:BasicHttpBinding_MzkServiceSchedulingService">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>