Pithline.FMS.DataProvider.AX/Service References/SSProxy/xppservice5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Mzk_ImageContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmImageData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmImageName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mzk_ImageContract" nillable="true" type="tns:Mzk_ImageContract" />
  <xs:complexType name="MzkAccountContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAccountNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCounty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPostbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmZipcode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkAccountContract" nillable="true" type="tns:MzkAccountContract" />
  <xs:complexType name="MzkAddressContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountryRegionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStreet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSubUrb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkAddressContract" nillable="true" type="tns:MzkAddressContract" />
  <xs:complexType name="MzkCityContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountryRegionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStateId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkCityContract" nillable="true" type="tns:MzkCityContract" />
  <xs:complexType name="MzkCountryRegionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q5:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCountryRegionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountryRegionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkCountryRegionContract" nillable="true" type="tns:MzkCountryRegionContract" />
  <xs:complexType name="MzkCountyContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q6:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCountryRegionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStateId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkCountyContract" nillable="true" type="tns:MzkCountyContract" />
  <xs:complexType name="MzkDriverContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q7:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkDriverContract" nillable="true" type="tns:MzkDriverContract" />
  <xs:complexType name="MzkLocationTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q8:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmLocationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLocationType" type="tns:EXDCaseServiceDestinationType" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkLocationTypeContract" nillable="true" type="tns:MzkLocationTypeContract" />
  <xs:simpleType name="EXDCaseServiceDestinationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vendor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Customer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Driver">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerSpecific" />
      <xs:enumeration value="Asset" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EXDCaseServiceDestinationType" nillable="true" type="tns:EXDCaseServiceDestinationType" />
  <xs:complexType name="MzkProvinceContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q9:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmStateId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStateName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkProvinceContract" nillable="true" type="tns:MzkProvinceContract" />
  <xs:complexType name="MzkRegionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q10:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRegionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkRegionContract" nillable="true" type="tns:MzkRegionContract" />
  <xs:complexType name="MzkServiceDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q11:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAdditionalWork" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmConfirmedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmContactPersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEventDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLiftLocationRecId" type="xs:long" />
          <xs:element minOccurs="0" name="parmLiftRequired" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmLocationType" nillable="true" type="tns:MzkLocationTypeContract" />
          <xs:element minOccurs="0" name="parmODOReading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmODOReadingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmODOReadingImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPreferredDateFirstOption" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmPreferredDateSecondOption" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmServiceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSupplierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSupplierName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkServiceDetailsContract" nillable="true" type="tns:MzkServiceDetailsContract" />
  <xs:simpleType name="NoYes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NoYes" nillable="true" type="tns:NoYes" />
  <xs:complexType name="MzkServiceSchdTasksContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q12:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmCaseServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmConfirmationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmContactPersonAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEEPActionStep" type="tns:EEPActionStep" />
          <xs:element minOccurs="0" name="parmEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEngineNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRegistrationNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStatusDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleClassId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleSubClassId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkServiceSchdTasksContract" nillable="true" type="tns:MzkServiceSchdTasksContract" />
  <xs:simpleType name="EEPActionStep">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProcessNone" />
      <xs:enumeration value="ProcessCBL" />
      <xs:enumeration value="ProcessLicenseReg" />
      <xs:enumeration value="GenQuery" />
      <xs:enumeration value="ServiceSchedulling">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">97</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">98</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JobCardDetails">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WorkComplete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaintenceServiceSheduling">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SelectSupplier">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConfirmDriver">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Procurment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">105</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Procurment_AccRej">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">106</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionDetail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">107</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionDataCapture">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">108</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionAcceptance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">109</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDamageConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">110</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitServiceBookingDetail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">111</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitSupplierSelection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">112</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitServiceBookingConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">113</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Completed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">114</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitCollectionDetail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">115</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitVendorSelection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">116</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitCollectionConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">117</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitCollectionDataCapture">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">118</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvideCollectionDetails">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">119</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SelectThirdPartyCollection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">120</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConfirmVehicleCollection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">121</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureInspectionData">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">122</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerApprovals">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">123</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UploadDrives">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">124</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreateDrivers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">125</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Live">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">126</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UploadDevices">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">127</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreateDevices">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageContract_Customer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">129</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageContract_Contract">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">130</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManageContract_AccRej">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">131</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureFuelCardDetails">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">132</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConfirmDeliveryAddress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">133</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReceiveFuelCard">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">134</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDriverCollection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">135</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDeliveryConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">136</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitCourierCollection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">137</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">138</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CaptureETagReplacementReason">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">139</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReceiveETag">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">140</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDeliverytoHyper">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">141</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvideVehicleInspectionDetails">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">142</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerApprovalETD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">144</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SalvageOfferApprove">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">145</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitTechnicalInspection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">143</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SalvageOfferReject">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">146</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerRejection">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">147</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerRejectionETD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">148</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaintenanceRechargeApprove">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">149</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaintenanceRechargeReject">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">150</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SalvageOfferRejectAddInfo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">151</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewSalvager">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">152</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Complaint">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">153</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Compliment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">154</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDeliveryConfirmationCourier">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">155</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDriverCollectionLicenseDisc">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">156</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EEPActionStep" nillable="true" type="tns:EEPActionStep" />
  <xs:complexType name="MzkValidateUserContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q13:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLoginType" type="tns:MzkLoginType" />
          <xs:element minOccurs="0" name="parmUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmUserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkValidateUserContract" nillable="true" type="tns:MzkValidateUserContract" />
  <xs:simpleType name="MzkLoginType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Driver">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Courier" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkLoginType" nillable="true" type="tns:MzkLoginType" />
  <xs:complexType name="MzkVendorAccountContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q14:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAccountNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPostbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRegionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSuburban" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSuburbanName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmZipcode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkVendorAccountContract" nillable="true" type="tns:MzkVendorAccountContract" />
  <xs:complexType name="MzkZipCodeContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q15:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAddressType" type="tns:EXDAddressType" />
          <xs:element minOccurs="0" name="parmCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCountryRegionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStateId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSuburb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkZipCodeContract" nillable="true" type="tns:MzkZipCodeContract" />
  <xs:simpleType name="EXDAddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Physical" />
      <xs:enumeration value="Postal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EXDAddressType" nillable="true" type="tns:EXDAddressType" />
  <xs:complexType name="ArrayOfMzkServiceDetailsContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkServiceDetailsContract" nillable="true" type="tns:MzkServiceDetailsContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkServiceDetailsContract" nillable="true" type="tns:ArrayOfMzkServiceDetailsContract" />
  <xs:complexType name="ArrayOfMzkCityContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkCityContract" nillable="true" type="tns:MzkCityContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkCityContract" nillable="true" type="tns:ArrayOfMzkCityContract" />
  <xs:complexType name="ArrayOfMzkServiceSchdTasksContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkServiceSchdTasksContract" nillable="true" type="tns:MzkServiceSchdTasksContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkServiceSchdTasksContract" nillable="true" type="tns:ArrayOfMzkServiceSchdTasksContract" />
  <xs:complexType name="ArrayOfMzkCountyContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkCountyContract" nillable="true" type="tns:MzkCountyContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkCountyContract" nillable="true" type="tns:ArrayOfMzkCountyContract" />
  <xs:complexType name="ArrayOfMzkRegionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkRegionContract" nillable="true" type="tns:MzkRegionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkRegionContract" nillable="true" type="tns:ArrayOfMzkRegionContract" />
  <xs:complexType name="ArrayOfMzkZipCodeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkZipCodeContract" nillable="true" type="tns:MzkZipCodeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkZipCodeContract" nillable="true" type="tns:ArrayOfMzkZipCodeContract" />
  <xs:complexType name="ArrayOfMzkLocationTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkLocationTypeContract" nillable="true" type="tns:MzkLocationTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkLocationTypeContract" nillable="true" type="tns:ArrayOfMzkLocationTypeContract" />
  <xs:complexType name="ArrayOfMzkProvinceContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkProvinceContract" nillable="true" type="tns:MzkProvinceContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkProvinceContract" nillable="true" type="tns:ArrayOfMzkProvinceContract" />
  <xs:complexType name="ArrayOfMzkVendorAccountContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkVendorAccountContract" nillable="true" type="tns:MzkVendorAccountContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkVendorAccountContract" nillable="true" type="tns:ArrayOfMzkVendorAccountContract" />
  <xs:complexType name="ArrayOfMzkDriverContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkDriverContract" nillable="true" type="tns:MzkDriverContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkDriverContract" nillable="true" type="tns:ArrayOfMzkDriverContract" />
  <xs:complexType name="ArrayOfMzkCountryRegionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkCountryRegionContract" nillable="true" type="tns:MzkCountryRegionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkCountryRegionContract" nillable="true" type="tns:ArrayOfMzkCountryRegionContract" />
  <xs:complexType name="ArrayOfMzk_ImageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mzk_ImageContract" nillable="true" type="tns:Mzk_ImageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzk_ImageContract" nillable="true" type="tns:ArrayOfMzk_ImageContract" />
  <xs:complexType name="ArrayOfMzkAccountContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkAccountContract" nillable="true" type="tns:MzkAccountContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkAccountContract" nillable="true" type="tns:ArrayOfMzkAccountContract" />
</xs:schema>