Pithline.FMS.DocumentDelivery.UILogic/Service References/DDServiceProxy/xppservice2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MzkCollectDeliveryServiceGetDriversRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetDriversRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetDriversRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetDriversResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetDriversResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getDrivers_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateStatusListRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceUpdateStatusListRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateStatusListRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateStatusListResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceUpdateStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_updateStatusList_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCollectedFromRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCollectedFromResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getCollectedFrom_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCustomerInfoRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCustomerInfoRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCustomerInfoRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCustomerInfoResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getCustomerInfo_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_insertDocumentDriverCourierDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceInsertDocumentCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_insertDocumentCustomerDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceValidateUserRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceValidateUserRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceValidateUserRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceValidateUserResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_validateUser_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCourierListRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCourierListRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCourierListRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCourierListResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCourierListResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getCourierList_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromAddressRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCollectedFromAddressRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromAddressRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetCollectedFromAddressResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetCollectedFromAddressResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getCollectedFromAddress_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceUpdateDeliveryDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceUpdateDeliveryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_updateDeliveryDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetTasksRequest">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetTasksRequest" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetTasksRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryServiceGetTasksResponse">
    <wsdl:part name="parameters" element="tns:MzkCollectDeliveryServiceGetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="MzkCollectDeliveryService_getTasks_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MzkCollectDeliveryService">
    <wsdl:operation name="getDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getDrivers" name="MzkCollectDeliveryServiceGetDriversRequest" message="tns:MzkCollectDeliveryServiceGetDriversRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getDriversResponse" name="MzkCollectDeliveryServiceGetDriversResponse" message="tns:MzkCollectDeliveryServiceGetDriversResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getDriversAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getDrivers_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateStatusList" name="MzkCollectDeliveryServiceUpdateStatusListRequest" message="tns:MzkCollectDeliveryServiceUpdateStatusListRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateStatusListResponse" name="MzkCollectDeliveryServiceUpdateStatusListResponse" message="tns:MzkCollectDeliveryServiceUpdateStatusListResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateStatusListAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_updateStatusList_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCollectedFrom">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFrom" name="MzkCollectDeliveryServiceGetCollectedFromRequest" message="tns:MzkCollectDeliveryServiceGetCollectedFromRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFromResponse" name="MzkCollectDeliveryServiceGetCollectedFromResponse" message="tns:MzkCollectDeliveryServiceGetCollectedFromResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFromAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getCollectedFrom_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCustomerInfo" name="MzkCollectDeliveryServiceGetCustomerInfoRequest" message="tns:MzkCollectDeliveryServiceGetCustomerInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCustomerInfoResponse" name="MzkCollectDeliveryServiceGetCustomerInfoResponse" message="tns:MzkCollectDeliveryServiceGetCustomerInfoResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCustomerInfoAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getCustomerInfo_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertDocumentDriverCourierDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentDriverCourierDetails" name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest" message="tns:MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentDriverCourierDetailsResponse" name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsResponse" message="tns:MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentDriverCourierDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_insertDocumentDriverCourierDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertDocumentCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentCustomerDetails" name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest" message="tns:MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentCustomerDetailsResponse" name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsResponse" message="tns:MzkCollectDeliveryServiceInsertDocumentCustomerDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/insertDocumentCustomerDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_insertDocumentCustomerDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/validateUser" name="MzkCollectDeliveryServiceValidateUserRequest" message="tns:MzkCollectDeliveryServiceValidateUserRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/validateUserResponse" name="MzkCollectDeliveryServiceValidateUserResponse" message="tns:MzkCollectDeliveryServiceValidateUserResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/validateUserAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_validateUser_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourierList">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCourierList" name="MzkCollectDeliveryServiceGetCourierListRequest" message="tns:MzkCollectDeliveryServiceGetCourierListRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCourierListResponse" name="MzkCollectDeliveryServiceGetCourierListResponse" message="tns:MzkCollectDeliveryServiceGetCourierListResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCourierListAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getCourierList_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCollectedFromAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFromAddress" name="MzkCollectDeliveryServiceGetCollectedFromAddressRequest" message="tns:MzkCollectDeliveryServiceGetCollectedFromAddressRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFromAddressResponse" name="MzkCollectDeliveryServiceGetCollectedFromAddressResponse" message="tns:MzkCollectDeliveryServiceGetCollectedFromAddressResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getCollectedFromAddressAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getCollectedFromAddress_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDeliveryDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateDeliveryDetails" name="MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest" message="tns:MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateDeliveryDetailsResponse" name="MzkCollectDeliveryServiceUpdateDeliveryDetailsResponse" message="tns:MzkCollectDeliveryServiceUpdateDeliveryDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/updateDeliveryDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_updateDeliveryDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getTasks" name="MzkCollectDeliveryServiceGetTasksRequest" message="tns:MzkCollectDeliveryServiceGetTasksRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getTasksResponse" name="MzkCollectDeliveryServiceGetTasksResponse" message="tns:MzkCollectDeliveryServiceGetTasksResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkCollectDeliveryService/getTasksAifFaultFault" name="AifFaultFault" message="tns:MzkCollectDeliveryService_getTasks_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>