Pithline.FMS.DocumentDelivery.UILogic/Service References/DDServiceProxy/xppservice85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/CollectDeliverService/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="MzkCollectDeliveryServiceGetDriversRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfMzkUserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceUpdateStatusListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_lstTasks" nillable="true" type="q2:ArrayOfMZKCollectDeliverTasksContract" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_loginType" type="q3:MzkLoginType" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceUpdateStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfMZKCollectDeliverTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCollectedFromRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCollectedFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfMzkUserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCustomerInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfMzkCustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_lstCourierCollectionDetails" nillable="true" type="q7:ArrayOfMZKCourierCollectionDetailsContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceInsertDocumentDriverCourierDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfMZKCourierCollectionDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_lstDocumentCollection" nillable="true" type="q9:ArrayOfMZKDocumentCollectedDetailsContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceInsertDocumentCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfMZKDocumentCollectedDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceValidateUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q11:MzkValidateUserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCourierListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCourierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:ArrayOfMzkUserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCollectedFromAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetCollectedFromAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceUpdateDeliveryDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_lstCourierCollectionDetails" nillable="true" type="q13:ArrayOfMZKCourierCollectionDetailsContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceUpdateDeliveryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:ArrayOfMZKCourierCollectionDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetTasksRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkCollectDeliveryServiceGetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfMZKCollectDeliverTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>